body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/* .boardBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    } */
.playerAssign{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    margin: 35px;
}

.board{
    width: 350px;
    height: 350px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

.cell{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 75px ;
    font-family: 'Pacifico', cursive;
}

.cell:hover{
    
}

#cell1{
    border-bottom: 5px solid black;
    border-right:  5px solid black;
}

#cell2{
    border-bottom: 5px solid black;
    border-right:  5px solid black;
}

#cell3{
    border-bottom: 5px solid black;
}

#cell4{
    border-bottom: 5px solid black;
    border-right:  5px solid black;
}

#cell5{
    border-bottom: 5px solid black;
    border-right:  5px solid black;
}

#cell6{
    border-bottom: 5px solid black;
}

#cell7{
    border-right:  5px solid black;
}

#cell8{
    border-right:  5px solid black;
}